@use 'variables' as *;
@use 'fontStyles' as *;

.about{
    background-color: $color_main;
    &__upper-text{
        min-height: 80vh;
    }
    .row{
        .col{
            display: flex;
            flex-flow: column;
            // border: 5px solid $color_second;
            border-radius: 15px;
            // height: 350px;
            h3{
                color: $color_third;
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
            }
            p{
                font-weight: 400;
                text-align: justify;
            }
        }
    }
    .fa-solid{
        color: $color_third;
    }
    &__text{
        text-align: justify;
        h3{
            color: $color_third;
        }
        color: white;
    }

    &__full_menu{
        &--icons{
            animation: .5s linear 1s arrowUp infinite alternate;
        }
        text-align: center;
        a{
            color: $color_third;
            text-decoration: underline;
        }
    }
}

@keyframes arrowUp {

    from{
        transform: translate(0);
    }
    to{
        transform: translate(0, -1rem);
    }
    
}