@use 'variables' as *;

.contact{
    color: white;
    background-color: $color_main;
    text-align: center;
    ul{
        text-align: left;
        li{
            list-style: none;
        }
    }
    .fa-brands{
        transition: all .1s ease-in;
        color: $color_third;
        &:hover{
            transform: scale(1.1);
        }
    }
}