@use 'variables' as *;
h1{
    font-size: 2.5rem;
    letter-spacing: .15rem;
    font-weight: 900;
    font-style: italic;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-weight: 500;
}


button{
    font-weight: 700;
    color: white;
    width: 50%;
    background-color: $color_third;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    span{
        color: white;
        text-decoration: none;
    }
}