@use 'variables' as *;
.pricing{
    background-color: $color_second;
    min-height: 60vh;
    color: white;
    &__text{
        p{
            font-size: 1.1rem;
            text-align: justify;
        }
    }
    &__card{
        padding-bottom: 2rem;
        color: $color_second;
        border-radius: 1rem;
        background-color: white;
        &--price{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            li{
                padding-bottom: .5rem;
            }
            span{
                font-weight: 400;
                font-style: italic;
                color: $color_third;
                b{
                    font-size: 3rem;
                }
            }
        }
    }
    &__form{
        &--button{
            margin-top: 1rem;
            max-width: 10rem;
        }
    }
}

/* Scale from center */
// li:nth-child(3) a::after {
//     opacity 1;
//     transform: scale(0);
//     transform-origin: center;
//   }
  
//   li:nth-child(3) a:hover::after,
//   li:nth-child(3) a:focus::after{
//     transform: scale(1);
//   }