h1 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-weight: 500;
}

button {
  font-weight: 700;
  color: white;
  width: 50%;
  background-color: #E0E000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
button span {
  color: white;
  text-decoration: none;
}

.navbar {
  color: white;
}
.navbar img {
  max-width: 100px;
}
.navbar .nav-item_contact {
  display: flex;
  flex-flow: column;
}

.test {
  border: 3px solid white;
}

.hero-container {
  background: url(/images/hero_bg2.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  color: white;
}
.hero-container__typed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 3px 3px 5px #000000;
  height: 300px;
  margin-right: 0;
  border-radius: 0.5rem;
}
.hero-container__typed-container u, .hero-container__typed-container b {
  color: #E0E000;
}
.hero-container__typed-container b {
  font-size: 5.5rem;
}
.hero-container .row {
  height: 100%;
}

#typed {
  font-size: 5rem;
  font-weight: 700;
}

.typed-cursor {
  font-size: 5rem;
}

.slider__container {
  background-color: #fff;
}

.about {
  background-color: #000000;
}
.about__upper-text {
  min-height: 80vh;
}
.about .row .col {
  display: flex;
  flex-flow: column;
  border-radius: 15px;
}
.about .row .col h3 {
  color: #E0E000;
}
.about .row .col i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.about .row .col p {
  font-weight: 400;
  text-align: justify;
}
.about .fa-solid {
  color: #E0E000;
}
.about__text {
  text-align: justify;
  color: white;
}
.about__text h3 {
  color: #E0E000;
}
.about__full_menu {
  text-align: center;
}
.about__full_menu--icons {
  animation: 0.5s linear 1s arrowUp infinite alternate;
}
.about__full_menu a {
  color: #E0E000;
  text-decoration: underline;
}

@keyframes arrowUp {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(0, -1rem);
  }
}
.pricing {
  background-color: #1F1F1F;
  min-height: 60vh;
  color: white;
}
.pricing__text p {
  font-size: 1.1rem;
  text-align: justify;
}
.pricing__card {
  padding-bottom: 2rem;
  color: #1F1F1F;
  border-radius: 1rem;
  background-color: white;
}
.pricing__card--price {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.pricing__card--price li {
  padding-bottom: 0.5rem;
}
.pricing__card--price span {
  font-weight: 400;
  font-style: italic;
  color: #E0E000;
}
.pricing__card--price span b {
  font-size: 3rem;
}
.pricing__form--button {
  margin-top: 1rem;
  max-width: 10rem;
}

/* Scale from center */
.faq {
  background-color: #1F1F1F;
  color: white;
}
.faq__element {
  max-height: 200px;
  cursor: pointer;
}
.faq .hidden {
  height: 0;
  opacity: 0;
  transform: translate(-100%);
}
.faq .show_element {
  transition: height 1s, opacity 0.5s;
  height: 150px;
  display: flex;
}

.compar {
  background: url(/images/compar_bg.jpg) center no-repeat;
  background-size: cover;
  background-color: #000000;
}
.compar h1 {
  text-align: center;
  text-shadow: 1px 1px 3px #E0E000;
}
.compar__head_text {
  color: white;
  text-shadow: 1px 1px 1px #000000;
}
.compar__offer {
  color: white;
  height: 25rem;
  background-color: #1F1F1F;
  box-shadow: 5px 5px 5px #000000;
}
.compar__offer b {
  font-size: 2rem;
  font-style: italic;
  color: #E0E000;
}

.contact {
  color: white;
  background-color: #000000;
  text-align: center;
}
.contact ul {
  text-align: left;
}
.contact ul li {
  list-style: none;
}
.contact .fa-brands {
  transition: all 0.1s ease-in;
  color: #E0E000;
}
.contact .fa-brands:hover {
  transform: scale(1.1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
}
.hover-underline-animation::after {
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-anim__color:hover {
  box-shadow: none;
  outline: solid 2px #000000;
  outline-offset: -2px;
  background-color: #000000;
  color: white;
  text-shadow: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=index.css.map */
